:root {
    --primary-color: #1084b5;
    --gray-color: #404258;
    --background-color: #fff3e2;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: var(--gray-color);
    background-color: var(--background-color);
    font-size: 18px;
    line-height: 1.6;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

button,
.submit-button,
.button {
    display: block;
	text-decoration: none;
    width: fit-content;
	padding: 5px 10px;
    margin: 0 auto;
	border: 2px solid var(--primary-color);
	background: var(--primary-color);
	color: #ffffff;
	border-radius: 20px;
	transition: 0.3s;
}

button:hover,
button:focus,
.submit-button:hover,
.submit-button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    color: var(--primary-color);
    background-color: #ffffff;
}

ul {
    padding-left: 0px;
}

li {
    list-style: none;
}

/*header*/
.page-header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0px 50px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item {
    color: var(--primary-color);
    position: relative;
}

.navigation-item ::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.3s;
}

.navigation-item :hover::after {
    transform: scale(1, 1);
}

.name {
    height: 30px;
    line-height: 30px;
    margin-top: 18px;
}

.name:hover {
    color: var(--gray-color);
    font-weight: bold;
}


/*Home*/
.portfolio {
    width: fit-content;
    margin: 80px auto 0px auto;
    font-size: 50px;
}

.portfolio span {
    background-color: var(--background-color);
}


/*About*/
.about-main {
    width: 80%;
    margin: 0 auto;
}

.about-title {
    margin-bottom: 30px;
}

.about-content {
    display: flex;
}

.profile-portrait {
    width: 250px;
    height: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.skills {
    display: flex;
}

.skills-title {
    margin-right: 30px;
}

.skill-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.skill-list li {
    margin-right: 20px;
}


/*Contact*/
#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

#contact-form input {
    margin-bottom: 20px;
}

#contact-form a {
    width: fit-content;
}

#contact-message {
    height: 150px;
    margin-bottom: 20px;
}

.submit-button {
    font-size: 18px;
}

/*Work*/
.project-content {
    width: 80%;
    margin: 0 auto;
}

.project {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px 20px 30px 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.project-title {
    font-size: 30px;
}

.project-title-img {
    width: 50%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.project-title-img img {
    border-radius: 10px;
}

.project-detail {
    width: 50%;
    margin: 50px auto;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tech-stack {
    font-weight: bold;
}

.project-link {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
}

.app-img {
    width: 100%;
    border: 1px solid var(--gray-color);
}

.chat-app-imgs {
    display: flex;
    justify-content: space-around;
}

.chat-app-imgs img {
    border: 1px solid var(--gray-color);
    width: 40%;
}


/*Case Study*/
.case-study-main {
    margin: 100px;
}

.biginning {
    margin: 100px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.biginning-text {
    padding-right: 30px;
}

.biginning-subject {
    margin-top: 40px;
}

.middle {
    margin: 100px auto;
}

.server-side {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 80px;
}

.server-side-text {
    margin-right: 30px;
}

.ui-images {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ui-images img {
    width: 300px;
    border-radius: 10px;
    border: 1px solid var(--gray-color);
}

.ending {
    width: 100%;
}

.ending p {
    margin-bottom: 40px;
}


/*Footer*/
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}


/*Responsive*/
@media all and (max-width: 415px) {
    .navigation-list:last-child {
        width: 100%;
        font-size: 13px;
    }
}
@media all and (max-width: 600px) {
    h1 {
        font-size: 35px;
        margin-top: 0px;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    .page-header__item {
        flex: 0 1 100px;
    }
    .navigation-list li {
        margin-right: 15px;
    }
    .navigation-list li:first-child {
        margin-left: 0;
    }
    .project-link {
        flex-direction: column;
    }
    .project-link li {
        margin-bottom: 15px;
    }
    .project-link li:last-child {
        margin-bottom: 0px;
    }
    .portfolio {
        margin-top: 0px;
    }
    .skills {
        flex-direction: column;
    }
    .skills-title {
        margin-bottom: 20px;
    }
    .skill-list {
        width: 100%;
        margin-top: 0px;
    }
    #index-page-footer{
        margin-top: 100px;
    }
}
@media all and (max-width: 1050px) {
    .project {
        flex-direction: column;
        width: 100%;
    }
    .project:nth-child(even) {
        flex-direction: column-reverse;
    }
    .project-title-img,
    .project-detail {
        width: 100%;
    }
    .project-detail {
        margin-bottom: 0px;
    }
    .about-content {
        flex-direction: column;
    }
    .profile-portrait {
        margin: 0 auto;
    }
    .skills {
        margin-bottom: 30px;
    }
}
@media all and (max-width: 1130px) {
    .biginning,
    .server-side {
        display: flex;
        flex-direction: column;
    }
    .code-img {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}
@media all and (max-width: 1300px) {
    .ui-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 30px;
    }
    .ui-images img {
        width: 80%;
    }
}